@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  * {
    @apply border-border;
  }
  :root {
    --max-width: 1400px;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --toolbar: 206 64% 98%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 205 83% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 32 50% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 32 50% 80%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  /*.dark {
    --background: 24 9.8039% 10%;
    --foreground: 60 4.7619% 95.8824%;
    --card: 12 6.4935% 15.098%;
    --card-foreground: 60 4.7619% 95.8824%;
    --popover: 12 6.4935% 15.098%;
    --popover-foreground: 60 4.7619% 95.8824%;
    --primary: 205 83% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 32 50% 50%;
    --secondary-foreground: 20 5.8824% 90%;
    --muted: 30 10.3448% 11.3725%;
    --muted-foreground: 24 5.4348% 63.9216%;
    --accent: 198.4615 46.4286% 21.9608%;
    --accent-foreground: 20 5.8824% 90%;
    --destructive: 0 72.2222% 50.5882%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 6.25% 25.098%;
    --input: 30 6.25% 25.098%;
    --ring: 24.5815 94.9791% 53.1373%;
    --chart-1: 24.5815 94.9791% 53.1373%;
    --chart-2: 198.6301 88.664% 48.4314%;
    --chart-3: 45.3982 93.3884% 47.451%;
    --chart-4: 24 5.4348% 63.9216%;
    --chart-5: 25 5.2632% 44.7059%;
    --sidebar: 12 6.4935% 15.098%;
    --sidebar-background: 12 6.4935% 15.098%;
    --sidebar-foreground: 60 4.7619% 95.8824%;
    --sidebar-primary: 24.5815 94.9791% 53.1373%;
    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-border: 30 6.25% 25.098%;
    --sidebar-ring: 24.5815 94.9791% 53.1373%;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.18;
    --shadow-color: hsl(0 0% 5%);
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 5% / 0.18),
      0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(0 0% 5% / 0.18),
      0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 5% / 0.18),
      0px 2px 4px -1px hsl(0 0% 5% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 5% / 0.18),
      0px 4px 6px -1px hsl(0 0% 5% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.18),
      0px 8px 10px -1px hsl(0 0% 5% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.45);
  }*/
  .dark {
    --background: 0 0% 6.6667%;
    --foreground: 0 0% 93.3333%;
    --card: 0 0% 9.8039%;
    --card-foreground: 0 0% 93.3333%;
    --popover: 0 0% 9.8039%;
    --popover-foreground: 0 0% 93.3333%;
    --primary: 205 83% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 32 50% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 13.3333%;
    --muted-foreground: 0 0% 70.5882%;
    --accent: 0 0% 16.4706%;
    --accent-foreground: 0 0% 93.3333%;
    --destructive: 10.1639 77.8723% 53.9216%;
    --destructive-foreground: 0 0% 100%;
    --border: 45 14.2857% 10.9804%;
    --input: 0 0% 28.2353%;
    --ring: 29.5082 100% 88.0392%;
    --chart-1: 29.5082 100% 88.0392%;
    --chart-2: 28.2353 17.5258% 19.0196%;
    --chart-3: 0 0% 16.4706%;
    --chart-4: 30 17.8571% 21.9608%;
    --chart-5: 30 100% 87.8431%;
    --sidebar: 240 5.8824% 10%;
    --sidebar-foreground: 240 4.7619% 95.8824%;
    --sidebar-primary: 224.2781 76.3265% 48.0392%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7037% 15.8824%;
    --sidebar-accent-foreground: 240 4.7619% 95.8824%;
    --sidebar-border: 240 3.7037% 15.8824%;
    --sidebar-ring: 240 4.878% 83.9216%;
    --font-sans:
      ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
  .screen-wrapper {
    @apply max-w-[var(--max-width)] px-3 mx-auto;
  }
  .article-content code:not(pre code) {
    @apply inline-block mx-1 rounded border border-[var(--mt-code-color)] bg-[var(--mt-code-background)] px-1 py-0.5 text-sm after:content-[''] before:content-[''];
  }
  .text-stroke {
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.4);
  }
  @media only screen and (max-width: 1279px) {
    .screen-wrapper {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }

  @media only screen and (max-width: 639px) {
    .screen-wrapper {
      width: 100%;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
  body {
    @apply !min-w-full;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color:#bf8440 */
}
html {
  scroll-behavior: smooth;
}
.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.article-content {
  li p {
    margin: 0 !important;
  }

  figcaption {
    text-align: center;
  }

  blockquote {
    p:first-of-type::before,
    p:first-of-type::after {
      content: unset;
    }
  }

  pre {
    position: relative;
    background-color: hsl(224, 19%, 97%);
    padding-block: 1rem;
    overflow-x: auto;

    code {
      padding-inline: 1.25rem;
      display: block;
      width: fit-content;
      min-width: 100%;
      font-size: 90%;
      line-height: 1.7;
    }
  }
}

html.dark {
  .article-content {
    pre {
      background-color: hsl(224, 14%, 16%);

      code .line span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
      }
    }
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
