@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .screen-wrapper {
    @apply max-w-[var(--max-width)] px-3 mx-auto max-xl:px-5 max-sm:w-full max-sm:px-3;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a436c;
  --secondary-color: #c08541;
  --max-width: 1400px;
}